*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
  color: #1d1e35;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem 1rem;
}

.card {
  background-color: white;
  border-radius: 2rem;
  padding-top: 11rem;
  padding-left: 2.5rem;
  padding-right: 2.2rem;
  width: 33rem;
  height: 600px;
  background-image: url("/images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card__image .mobile-img {
  position: absolute;
  top: -20.5rem;
  max-width: 240px;
}

.card__image .desktop-img {
  display: none;
}

.card__body h1 {
  text-align: center;
}

.card .desktop-img-box {
  display: none;
}

@media (min-width: 800px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 930px;
    height: 510px;
    padding: 5.8rem 9.6rem 5rem 0;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: -35rem -11rem;
    position: relative;
  }
  .card__body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .card__body h1 {
    text-align: left;
    padding-bottom: 2.875rem;
    margin-bottom: 0;
  }
  .card__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
  }
  .card__image .mobile-img {
    display: none;
  }
  .card__image .desktop-img {
    display: block;
    position: absolute;
    top: 0;
    left: -8rem;
    max-width: 450px;
  }
  .card .desktop-img-box {
    display: block;
    position: absolute;
    top: 18.5rem;
    left: -10rem;
    z-index: 1;
  }
}

.accordion__item {
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 1rem;
}

.accordion__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  cursor: pointer;
}

.accordion__question:hover {
  color: #f47c57;
}

.accordion__question.open::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__question.open {
  font-weight: 700;
}

.accordion__question::after {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url("/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  margin-top: .4rem;
}

.accordion__answer {
  color: #787887;
  padding-bottom: 1rem;
  font-size: .8rem;
  line-height: 1.5rem;
}

.accordion__collapse {
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

.accordion__collapse.collapse {
  display: none;
}

.accordion__collapse.collapsing {
  height: 0;
  overflow: hidden;
}

.accordion__collapse.open {
  display: block;
}
/*# sourceMappingURL=style.css.map */